{% extends 'base.html' %}
{% block title %} search results for {% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<style type="text/css">
    .card {
        width: 15rem;
        height: 18rem;
    }

    #p-img {
        width: 238px;
        height: 175px;
    }



    #price {
        margin-left: 30px;
    }

    @media screen and (max-width: 400px) {
        .card {
            height: 15rem;
        }

        #card-shape {
            padding-left: 35px;
        }

        .container {
            padding-left: 5px;
        }

        #p-img {
            width: 238px;
            height: 130px;
        }



    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <h5 style="padding-top: 5px;">Search results for : {{query}}</h5>
    {% if products|length < 1 %}
    <p>No search results</p>
    Sorry your search <b>{{query}}</b> did not match any our books. <br>
    Suggestions:
    <ul>
        <li>Make sure that all words are spelled correctly.</li>
        <li>Try different products.</li>
    </ul>
    {% endif %}
    <hr class="mb-1">
    <div class="row">
        {% for book in products %}
        <div class="card-deck pr-3 pt-2" id="card-shape">

            <div class="card border-dark">
                <a href="{{ book.get_absolute_url }}" class="stretched-link"></a>
                <img class="card-img-top" id="p-img" src="{{ book.book_image1.url }}" alt="{{book.book_title}}"></img>
                <div class="card-body">
                    <p class="card-title" id="#ptitle" style="text-transform: capitalize;text-overflow:ellipsis;white-space: nowrap; 
                    width: 180px;overflow: hidden;">{{ book.book_title }}</p>
                    <h6>{% if book.book_discount_price %} &#8377 {{ book.book_discount_price }} {% else %}
                        &#8377 {{ book.book_price }} {% endif %} </h6>
                </div>
            </div>
        </div>
        <div class="pb-4"></div>
        {% endfor %}
    </div>
</div>
{% endblock %} {% block extra_scripts %}
<!--Scrolling animation JS-->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        offset: 200,
        duration: 700,
        once: true
    });
</script>
{% endblock %}