{% extends 'base.html' %}
{% block extra_head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            outline: none;
            border: none;
            text-transform: capitalize;
            transition: all .2s linear;
        }

        .container_SellPage {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 25px;
            min-height: 100vh;
            background: #fff;
        }

        .container_SellPage form {
            padding: 20px;
            width: 700px;
            background: #fff;
            box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
        }

        .container_SellPage form .row {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }

        .container_SellPage form .row .col {
            flex: 1 1 250px;
        }

        .container_SellPage form .row .col .title {
            font-size: 20px;
            color: #333;
            padding-bottom: 5px;
            text-transform: uppercase;
        }

        .container_SellPage form .row .col .inputBox {
            margin: 15px 0;
        }

        .container_SellPage form .row .col .inputBox span {
            margin-bottom: 10px;
            display: block;
        }

        .container_SellPage form .row .col .inputBox input {
            width: 100%;
            border: 1px solid #ccc;
            padding: 10px 15px;
            font-size: 15px;
            text-transform: none;
        }

        .container_SellPage form .row .col .inputBox input:focus {
            border: 1px solid #000;
        }

        .container_SellPage form .row .col .flex {
            display: flex;
            gap: 15px;
        }

        .container_SellPage form .row .col .flex .inputBox {
            margin-top: 5px;
        }

        .container_SellPage form .row .col .inputBox img {
            height: 34px;
            margin-top: 5px;
            filter: drop-shadow(0 0 1px #000);
        }

        .container_SellPage form .submit-btn {
            width: 100%;
            padding: 12px;
            font-size: 17px;
            background: #e74c3c;
            color: #fff;
            margin-top: 5px;
            cursor: pointer;
        }


        .myDiv {
            display: none;

        }
    </style>

{% endblock %}
{% block content %}


    <div class="container_SellPage">

        <form method="POST">
            {% csrf_token %}

            <h3 class="title">Select Category To Sell Books</h3>

            <br><input type="radio" name="demo" value="Below12th"/> Below 12th Standard Books&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input
                    type="radio" name="demo" value="otherBooks"/> Other Course Book


            <br><br>
            <div class="row">

                <div class="col myDiv" id="Below12th">

                    <div class="inputBox">
                        <span>Book Title </span>
                        <input type="text" name="bk_title" placeholder="Enter Subject Name of The Book"/>
                    </div>
                    <div class="inputBox">
                        <span>Standard / Class</span>
                        <input type="text" name="bk_std" placeholder="Ex - 5 , 6 , 9 etc"/>
                    </div>
                    <div class="inputBox">
                        <span>Board Name</span>
                        <input type="text" name="bk_board" placeholder="Ex - ICSE , CBSE , HSC"/>
                    </div>
                    <div class="inputBox">
                        <span>Book MRP (In Rupee)</span>
                        <input type="text" name="bk_mrp" placeholder=" Enter MRP Of The Book"/>
                    </div>
                    <div class="inputBox">
                        <span>Address</span>
                        <input type="text" name="usr_adrs" placeholder="Enter Your Address"/>
                    </div>
                    <div class="inputBox">
                        <span>Contact Number</span>
                        <input type="tel" name="usr_num" placeholder="Enter Your Contact Number"/>
                    </div>


                    <p>
                        <b><a href="https://api.whatsapp.com/send?phone=9136869309" target="_blank"><u>Click here
                            to </u></a>
                            Send Cover (Front Page) And Backside Photos To This Whatsapp Number: +91-9136869309</b><br>
                        Seller Will Get Minimum 45% Of The MRP.
                        <br>
                        Our Customer Support Team Contact You In Next Couple Of Working Hours
                        <br>
                        If You Sell Your Books at Your Own Then Please Inform us - +91-9136869309
                        <br>


                        <br>
                        <br>
                        <br>

                    </p>


                </div>

                <div class="col myDiv" id="otherBooks">
                    <div class="inputBox">
                        <span>Book Title </span>
                        <input type="text" name="bk_title" placeholder="Enter Subject Name of The Book" required/>
                    </div>
                    <div class="inputBox">
                        <span>Book Publication/Prakashan</span>
                        <input type="text" name="bk_pub" placeholder="Enter Publication Or Prakashan Name" required/>
                    </div>
                    <div class="inputBox">
                        <span>Book Author</span>
                        <input type="text" name="bk_auth" placeholder="Enter Author Name Of Book" required/>
                    </div>
                    <div class="inputBox">
                        <span>Book Edition & Year/Scheme</span>
                        <input type="text" name="bk_edition" placeholder="Ex - Second Revised Edition -2019 / G Scheme"
                               required/>
                    </div>
                    <div class="inputBox">
                        <span>Book MRP (In Rupee)</span>
                        <input type="text" name="bk_mrp" placeholder=" Enter MRP Of The Book" required/>
                    </div>
                    <div class="inputBox">
                        <span>Stream</span>
                        <input type="text" name="bk_stream"
                               placeholder="Ex - Arts / Commerce / Science / Engineering etc." required/>
                    </div>
                    <div class="inputBox">
                        <span>Ideal Course</span>
                        <input type="text" name="id_course" placeholder="Enter Course Which Is Suitable For This Book"
                               required/>
                    </div>
                    <div class="inputBox">
                        <span>Ideal Semester</span>
                        <input type="text" name="id_sem" placeholder="Enter Semester Which Is Suitable For This Book"
                               required/>
                    </div>
                    <div class="inputBox">
                        <span>Address</span>
                        <input type="text" name="usr_adrs" placeholder="Enter Your Address" required/>
                    </div>
                    <div class="inputBox">
                        <span>Contact Number</span>
                        <input type="tel" name="usr_num" placeholder="Enter Your Contact Number" required/>
                    </div>
                    <p><b><a href="https://api.whatsapp.com/send?phone=9136869309" target="_blank"><u>Click here
                        to </u></a>
                        Send Cover (Front Page) And Backside, Edition Page
                        Photos To This Whatsapp Number: +91-9136869309</b>
                        <br>
                        Seller Will Get Minimum 45% Of The MRP.
                        <br>
                        Our Customer Support Team Contact You In Next Couple Of Working Hours
                        <br>
                        If You Sell Your Books at Your Own Then Please Inform us - +91-9136869309
                        <br>

                        <br>
                        <br>
                        <br>
                    </p>
                </div>


            </div>

            <input type="submit" value="Submit" class="submit-btn"/>

        </form>

    </div>
{% endblock %}
{% block extra_scripts %}
    <script>
        $(document).ready(function () {
            $('input[type="radio"]').click(function () {
                var demovalue = $(this).val();
                $("div.myDiv").hide();
                $("#" + demovalue).show();
            });
        });
    </script>

{% endblock %}