{% extends 'base.html' %} {% block title %}Terms and conditions{% endblock %} {% block content %}

    <div class="container">
        <div class="card mt-3 mb-4">
            <div class="card-body" style="font-family: sans-serif;">
                <h3 class="mb-3">Terms and conditions</h3>
                <p class="ml-1" style="font-size: 18px;">Welcome to Greenkys!</p>

                <div class="ml-1">
                    <b class="mt-1 mb-1" style="font-size:20px;">1) Website usage</b>
                    <hr style="display: block;border-width: 1px;border-color: black;">
                    <p style="font-size: 14px;">

                        Your use of the Website and the Services and Tools are governed by the following terms and
                        conditions which apply to the Website with the policies contained herein in the context of
                        applicable policies. If you transact on the Website, you will be subject to the policies
                        applicable
                        to the Website for such transactions. By using the Website only, you will enter into an
                        agreement
                        with Greenkys and Greenkys will set out your binding obligations with these policies and
                        terms.

                        <br>By using the Website all terms and conditions in accordance with these Terms of Use, please
                        read
                        the
                        Terms of Condition and Use carefully. By accepting these terms implicitly or explicitly, you
                        also
                        acknowledge and agree that you are bound by the booklet policy

                        <br>When you use any of the Services provided by us through the Website, you will be subject to
                        the
                        Terms, Guidelines, Policies, Terms, and Conditions applicable to such Services and will be
                        deemed to
                        be included in those Terms of Condition and Use and will be considered a part and parcel of
                        these
                        Terms of Condition and Use. We reserve the right to change, modify, add, or remove parts of
                        these
                        Terms of Condition and Use at any time without prior written notice to you. It is your
                        responsibility to review these Terms of Condition and Use from time to time for updates/changes.
                        Your continued use of the website after posting your change means that you accept and agree to
                        it.
                        We provide you with a personal, unique, non-transferable, limited privilege to access and use
                        the
                        Website unless you comply with these Terms of Condition and Use.

                        <br>The Website is accessible only to persons who are legally bound by the Indian Contract Act,
                        1872. A
                        person who is "unable to enter into a contract" under the Indian Contract Act,1872, including
                        minors, non-discharged insolvents. A website not eligible to use if you are a minor, you may not
                        register as a user of the Greenkys website and may not transact or use the Website. If you
                        want to
                        use or transact on the Website as a minor, such use or transaction must be made on the Website
                        by
                        your legal parent or guardians. You have the right to refuse access to the Website if you
                        unsubscribe from the Greenkys.com and/ or point to the Greenkys or if you are found to be
                        under
                        18 years of age.

                        <br>If you use the Website, you are responsible for maintaining the privacy of your display name
                        and
                        passwords, and for all activities that occur under your display name and password. You agree
                        that we
                        have reasonable grounds to suspect that if any such information is inaccurate, inaccurate,
                        current
                        or incomplete or that such information is untrue, inaccurate, current or incomplete, or not in
                        accordance with the Terms of Use, you may suspend or terminate your subscription to the Website
                        permanently or You will have the right to block and deny access to the website.

                        <br>When you use the Website or send us emails or other data, information, or communications,
                        you
                        agree
                        and understand that you are communicating with us through electronic records and you agree to
                        communicate with us through electronic records from time to time and as required. We may
                        communicate
                        with you by email or other such means of communication, electronically or otherwise.

                        <br>All commercial/contract terms are offered and accepted by sole buyers and sellers. The terms
                        of
                        the
                        commercial/contract include, without limitation price, shipping cost, payment methods, payment
                        terms, date, duration and delivery methods, warranty on books and services, and sales services
                        related to books and services. Greenkys has no control over or cannot fix or advise or engage
                        in
                        any way between buyers and sellers in offering or accepting such commercial/contract terms.

                        <br>Greenkys does not provide any representations or guarantees regarding the details of the
                        books
                        or
                        services to be sold or sold on the website (such as quality, value, salability, etc.). Our Books
                        does not explicitly endorse or endorse the sale or purchase of any books or services on the
                        Website.
                        Our book does not accept any liability for any errors or omissions, whether on its own or on
                        behalf
                        of a third party.

                        <br>Greenkys does not provide any representations or warranties as to any of its user's
                        item-specifications (such as legal title, credentials, identity, etc.). You are advised to act
                        independently on the website and use your best judgment in that regard.

                        <br>Greenkys is not liable for unsatisfactory or delayed performance of services or for the
                        delay
                        in
                        the loss as a result of unavailable or re-ordered books in stock.

                        <br>Subscription to the website is free for buyers. There is no charge for browsing and
                        purchasing
                        your
                        book on the website. Greenkys reserves the right to change fees from time to time. In
                        particular,
                        Greenkys may introduce new services at your discretion and improve some or all of the existing
                        services offered on the website. In such cases, Greenkys reserves the right to introduce or
                        modify/charge a fee for new services offered for existing services. Changes to the Fee Policy
                        will
                        be posted on the Website and will take effect automatically once such changes are posted on the
                        Website. All fees will be quoted in Indian Rupees unless otherwise stated. You will be solely
                        responsible for complying with all applicable laws in India, including the seller's payers.
                    </p>
                    <div class="ml-1">
                        <b class="mt-1 mb-1" style="font-size:20px;">(A) You agree, undertake and confirm that your use of the Website will be
                            strictly governed by the following binding principles:</b>
                        <hr style="display: block;border-width: 1px;border-color: black;">
                        <p style="font-size: 14px;">
                            (i) You may not host, display, upload, modify, publish, broadcast, update, or share any
                            information which: <br>

                            <br>(a) It belongs to another person and you have no right to it;

                            <br>(b) Extremely harmful, harassing, slandering, defamatory, obscene, vulgar, pedophilic,
                            reprehensible, invasive, hateful or racist, racially offensive, controversial, related or
                            gambling or gambling in any way, Or unlawful intimidation or unlawful harassment is not
                            limited
                            to the meaning of within the meaning of the Indecent Representation of Women (Prohibition)
                            Act,
                            1986, "indecent representation of women".

                            <br>(c) Misleading in any way.

                            <br>(d) Includes broadcasts of "junk mail", "chain letters" or unexpected mass mailing or
                            "spamming".

                            <br>(e) Infringes upon or violates any third party rights on the rights of any third party
                            [including but not limited to intellectual property rights, privacy rights, including
                            unauthorized disclosure of a person's name, email address, physical address, or phone number
                            or
                            publicity rights.

                            <br>(f) Provides content that exploits people sexually, violently, or otherwise
                            inappropriately
                            or
                            solicits personal information from anyone.

                            <br>(g) Provides information on illegal activities such as making or purchasing illegal
                            weapons,
                            violating someone's privacy, or providing or creating a computer virus.

                            <br>(h) There are videos, photos, or images of another person (With a minor or an adult).


                            <br>(i) Harm minors in any way.

                            <br>(j) Violates any patents, trademarks, copyrights, or other proprietary rights or third
                            party
                            trade secrets or publicity or privacy rights nor will there be a fraud in the sale of
                            counterfeit or stolen books.

                            <br>(k) Violates any existing law.

                            <br>(l) Misleads the address or user about the origin of such messages or communicates any
                            information that is seriously offensive or dangerous in nature.

                            <br>(m) contains software viruses or any other computer code, files or programs designed to
                            interrupt, destroy or limit the functionality of any computer resource or contains any
                            Trojan
                            horses, worms, time bombs, cancelbots, easter eggs, or other computer programming routines
                            that
                            may damage, detrimentally interfere with, diminish the value of, surreptitiously intercept
                            or
                            expropriate any system, data or personal information.

                            <br>(n) Shall not be false, inaccurate, or misleading.

                            <br>(o) Attempts to gain unauthorized access or exceeds the scope of official access to a
                            website or
                            profile, blog, community, account information, bulletin, friend request, or another part of
                            the
                            website, or solicits passwords or personal identifying information for commercial or illegal
                            purposes Other users.

                        </p>
                    </div>

                    <div class="ml-1">
                        <b class="mt-1 mb-1" style="font-size:20px;">(B) Will not create liability for us or lose the services (in whole or in
                            part)
                            of our Internet:</b>
                        <hr style="display: block;border-width: 1px;border-color: black;">
                        <p style="font-size: 14px;">
                            <br>(1) You may not use any "deep-link", "page-scrap",
                            "robot", "spider" or another automated device, program, algorithm or procedure, or any
                            similar
                            or equivalent manual process to access, edit, copy, or observing any part of the Website or
                            any
                            Content, or reproducing or blocking the presentation of any Navigational Structure or
                            Website or
                            any Content in order to obtain or obtain any Content, Documentation or Information not
                            intended
                            in any way. Website. We reserve the right to prohibit any such activity.

                            <br>(2) You should not check, scan or test the vulnerabilities of the Website or any network
                            connected to the Website or violate security or authentication measures on the Website or
                            any
                            network connected to the Website. You may not search, or retrieve or search for information
                            on
                            any website, source of website, or any other user visiting the Website or any other useful
                            information on a website that you do not own or any service or information provided by the
                            Website, any information not intended to be disclosed with personal identity or information
                            other than your own information as provided by the Website.

                            <br>(3) You shall not make any negative, denigrating or defamatory statement(s) or
                            comment(s)
                            about
                            Us or the brand name or domain name used by Us including the terms Greenkys,
                            Greenkys.com,
                            or otherwise engage in any conduct or action that might tarnish the image or reputation, of
                            Greenkys or sellers on the platform or otherwise tarnish or dilute any bookstore's trade
                            or
                            service marks, trade name and/or goodwill associated with such trade or service marks, trade
                            name as may be owned or used by us. You agree that you will not take any action that imposes
                            an
                            unreasonable or disproportionately large load on the infrastructure of the Website or
                            Greenkys's systems or networks, or any systems or networks connected to Greenkys.


                            <br>(4) You agree not to use any device, software or routine to interfere or to attempt to
                            properly
                            disrupt the Website or to attempt to interfere with any transaction on the Website or not to
                            use
                            any other person's Website.

                            <br>(5) You shall at all times ensure full compliance with the applicable provisions of the
                            Information Technology Act, 2000 and rules thereunder as applicable and as amended from time
                            to
                            time and also all applicable Domestic laws, rules, and regulations (including the provisions
                            of
                            any applicable Exchange Control Laws or Regulations in Force) and International Laws,
                            Foreign
                            Exchange Laws, Statutes, Ordinances and Regulations (including, but not limited to Sales
                            Tax/VAT, Income Tax, Octroi, Service Tax, Central Excise, Custom Duty, Local Levies)
                            regarding
                            Your use of Our service and Your listing, purchase, solicitation of offers to purchase, and
                            sale
                            of books or services. You shall not engage in any transaction in an item or service, which
                            is
                            prohibited by the provisions of any applicable law including exchange control laws or
                            regulations for the time being in force.

                            <br>(6) From time to time you will be responsible for providing information related to the
                            books
                            or
                            services you sell. In this regard, you are assuming that all such information will be
                            accurate
                            in all respects. You should not exaggerate or overemphasize the properties of books or
                            services
                            to such users in order to deceive other users in any way.

                            <br>(7) You shall not engage in advertising to or solicitation of, other Users of the
                            Website to
                            buy
                            or sell any books or services, including, but not limited to, books or services related to
                            that
                            being displayed on the Website or related to us. You may not transmit any chain letters or
                            unsolicited commercial or junk email to other users via the Website. It shall be a violation
                            of
                            these Terms of Condition and Use to use any information obtained from the Website. You
                            understand that we have the right at all times to disclose any information (including the
                            identity of the persons providing information or materials on the Website) as necessary to
                            satisfy any law, regulation, or valid governmental request. This may include, without
                            limitation, disclosure of the information in connection with an investigation of alleged
                            illegal
                            activity or solicitation of illegal activity or in response to a lawful court order or
                            subpoena.
                            In addition, We can (and You hereby expressly authorize Us to) disclose any information
                            about
                            You to law enforcement or other government officials, as we, in Our sole discretion, believe
                            necessary or appropriate in connection with the investigation and/or resolution of possible
                            crimes, especially those that may involve personal injury.

                            <br>(8) It is possible that other users (including unauthorized users or "hackers") may post
                            or
                            transmit offensive or obscene materials on the Website and that you may be involuntarily
                            exposed
                            to such offensive and obscene materials. It also is possible for others to obtain personal
                            information about you due to your use of the Website, and that the recipient may use such
                            information to harass or injure You. We do not approve of such unauthorized uses, but by
                            using
                            the Website You acknowledge and agree that we are not responsible for the use of any
                            personal
                            information that you publicly disclose or share with others on the Website. Please carefully
                            select the type of information that you publicly disclose or share with others on the
                            Website.

                            <br>(9) Greenkys shall have all the rights to take necessary action and claim damages that
                            may
                            occur due to your involvement/participation in any way on your own or through groups of
                            people,
                            intentionally or unintentionally in Do’s/DDoS (Distributed Denial of Services).

                        </p>
                    </div>
                    <div class="ml-1">
                        <b class="mt-1 mb-1" style="font-size:20px;">Content</b>
                        <hr style="display: block;border-width: 1px;border-color: black;">
                        <p style="font-size: 14px;">
                            Except as expressly provided in these Terms of Condition and Use, no part of the Website and
                            no
                            Content may be copied, reproduced, republished, uploaded, posted, publicly displayed,
                            encoded,
                            translated, transmitted, or distributed in any way including mirroring to any other
                            computer,
                            server, Website or another medium for publication or distribution or for
                            Any commercial enterprise, without Greenkys's express prior written consent.

                            <br>You may use the information on the books and services purposely made available on the
                            Website
                            for downloading, provided that You (1) do not remove any proprietary notice language in all
                            copies of such documents, (2) use such information only for your personal, non-commercial
                            informational purpose and do not copy or post such information on any networked computer or
                            broadcast it in any media, (3) make no modifications to any such information, and (4) do not
                            make any additional representations or warranties relating to such documents.
                            We shall be entitled to, consistent with our Privacy Policy as adopted in accordance with
                            applicable law, use the Content or any of its elements for any type of use forever,
                            including
                            but not limited to promotional and advertising purposes and in any media whether now known
                            or
                            hereafter devised, including the creation of derivative works that may include the Content
                            You
                            provide. You agree that any Content You post may be used by us, consistent with Our Privacy
                            Policy and Rules of Conduct on Site as mentioned herein, and you are not entitled to any
                            payment
                            or other compensation for such use.

                        </p>
                    </div>

                    <div class="ml-1">
                        <b class="mt-1 mb-1" style="font-size:20px;">Privacy</b>
                        <hr style="display: block;border-width: 1px;border-color: black;">
                        <p style="font-size: 14px;">
                            we view the protection of your privacy as a very important principle. We understand clearly
                            that
                            You and Your Personal Information is one of our most important assets. We store and process
                            Your
                            Information including any sensitive financial information collected (as defined under the
                            Information Technology Act, 2000), if any, on computers that may be protected by physical as
                            well as reasonable technological security measures and procedures in accordance with
                            Information
                            Technology Act 2000 and Rules thereunder. Our current Privacy Policy is available at WEBSITE
                            PRIVACY POLICY URL If You object to Your Information being transferred or used in this way
                            please do not use the Website.

                            <br>- The information on this Website is complete, true, accurate, or non-misleading.

                            <br>Greenkys will not be liable to you in any way or in relation to the Contents of, or
                            use
                            of, or
                            otherwise in connection with, the Website. Greenkys does not warrant that this site;
                            information, Content, materials, book (including software) or services included on or
                            otherwise
                            made available to You through the Website; their servers; or electronic communication sent
                            from
                            Us are free of viruses or other harmful components.

                            <br>Nothing on the Website constitutes or is meant to constitute, advice of any kind. You
                            will
                            be
                            required to enter a valid phone number while placing an order on the Website. By registering
                            your phone number with us, you consent to be contacted by us via phone calls and/or SMS
                            notifications, in case of any order or shipment or delivery related updates. We will not use
                            your personal information to initiate any promotional phone calls or SMS.

                        </p>
                    </div>


                    <div class="ml-1">
                        <b class="mt-1 mb-1" style="font-size:20px;">Books</b>
                        <hr style="display: block;border-width: 1px;border-color: black;">
                        <p style="font-size: 14px;">As a registered seller, you are allowed to list item(s) for sale on
                            the
                            Website in accordance with the Policies which are incorporated by way of reference in this
                            Terms
                            of Condition and Use.

                            <br>The listing description of the item must not be misleading and must describe the actual
                            condition of the book. If the item description does not match the actual condition of the
                            item,
                            you agree to refund any amounts that you may have received from the Buyer. You agree not to
                            list
                            a single book in multiple quantities across various categories on the Website. Greenkys
                            reserves the right to delete such multiple listings of the same book listed by you in
                            various
                            categories. All listed items must be kept in stock for the successful fulfillment of sales.
                        </p>
                    </div>

                    <div class="ml-1">
                        <b class="mt-1 mb-1" style="font-size:20px;">Not Responsible for all</b>
                        <hr style="display: block;border-width: 1px;border-color: black;">
                        <p style="font-size: 14px;">
                            <br>Transactions, Transaction Price, and all commercial terms such as Delivery, Dispatch of
                            books,
                            and/or services are as per principal to principal bipartite contractual obligations between
                            Buyer and Seller and payment facility is merely used by the Buyer and Seller to facilitate
                            the
                            completion of the Transaction. Use of the payment facility shall not render Greenkys
                            liable or
                            responsible for the non-delivery,
                            Non-receipt, non-payment, damage, breach of representations and warranties, non-provision of
                            after sales or warranty services, or fraud as regards the books and/or services listed on
                            the
                            Greenkys Website.

                        </p>
                    </div>

                    <div class="ml-1">
                        <b class="mt-1 mb-1" style="font-size:20px;">Refunds</b>
                        <hr style="display: block;border-width: 1px;border-color: black;">
                        <p style="font-size: 14px;">
                            <br>- The refund shall be conditional and shall be with recourse available to the Greenkys
                            in case
                            of any misuse by the Buyer.

                            - Refund shall be subject to Buyer complying with Policies.

                            - Refund shall be made in Indian Rupees only and shall be equivalent to the Transaction
                            Price
                            received in Indian Rupees.


                        </p>
                    </div>

                    <div class="ml-1">
                        <b class="mt-1 mb-1" style="font-size:20px;">Payment</b>
                        <hr style="display: block;border-width: 1px;border-color: black;">
                        <p style="font-size: 14px;">
                            Greenkys may do such checks as it deems fit before approving the receipt of/Buyer’s
                            commitment
                            to pay (for Cash on Delivery transactions) Transaction Price from the Buyer for security or
                            other reasons at the discretion of Greenkys. As a result of such a check, if Greenkys is
                            not
                            satisfied with the credibility of the Buyer or genuineness of the Transaction / Transaction
                            Price, it will have the right to reject the receipt of / Buyer’s commitment to pay the
                            Transaction Price.

                            <br>The Buyer and Seller acknowledge that Greenkys will not be liable for any damages,
                            interests
                            or claims, etc. resulting from not processing a Transaction/Transaction Price or any delay
                            in
                            processing a Transaction/Transaction Price which is beyond the control of Greenkys.
                            Illegal Activities

                            <br>If Greenkys has suspicion or knowledge, that any of its buyers and sellers are
                            involved in any
                            activity that is intended to provide claims or information that is false, misleading, or not
                            genuine, then Greenkys may while reserving its rights to initiate civil and/or criminal
                            proceedings against a member may also at its sole discretion suspend, block, restrict,
                            cancel
                            the Display Name of such buyer and seller and /or disqualify that user and any related users
                            from availing protection through this program.

                            <br>Greenkys reserves its right to initiate civil and/or criminal proceedings against a
                            user who,
                            files invalid and/or false claims or provides false, incomplete, or misleading information.
                            In
                            addition to the legal proceedings as aforesaid, Greenkys may at its sole discretion
                            suspend,
                            block, restrict, cancel the Display Name [and its related Display Names] of such user and/or
                            disqualify that user and any related users from availing protection through this program.
                            Any
                            person who, knowingly and with intent to injure, defraud or deceive, files a Fraudulent
                            Complaint containing false, incomplete, or misleading information may be guilty of a
                            criminal
                            offense and will be prosecuted to the fullest extent of the law.


                        </p>
                    </div>

                    <div class="ml-1">
                        <b class="mt-1 mb-1" style="font-size:20px;">Limited to India only</b>
                        <hr style="display: block;border-width: 1px;border-color: black;">
                        <p style="font-size: 14px;">
                            unless otherwise specified, the material on the Website is presented solely for the purpose
                            of
                            sale in India. Greenkys makes no representation that materials in the Website are
                            appropriate
                            or available for use in other locations/Countries other than India. Those who choose to
                            access
                            this site from other locations/Countries other than India do so on their own initiative and
                            the
                            Greenkys is not responsible for the supply of books/refund for the books ordered from
                            other
                            locations/Countries other than India, compliance with local laws, if and to the extent local
                            laws are applicable.

                        </p>
                    </div>

                    <div class="ml-1">
                        <b class="mt-1 mb-1" style="font-size:20px;">Trademark and copyright</b>
                        <hr style="display: block;border-width: 1px;border-color: black;">
                        <p style="font-size: 14px;">
                            This site is controlled and operated by Greenkys and books are sold by respective Sellers.
                            All
                            material on this site, including images, illustrations, audio clips, and video clips, is
                            protected by copyrights, trademarks, and other intellectual property rights. Material on the
                            Website is solely for your personal, non-commercial use. You must not copy, reproduce,
                            republish, upload, post, transmit or distribute such material in any way, including by email
                            or
                            other electronic means and whether directly or indirectly and you must not assist any other
                            person to do so. Without the prior written consent of the owner, modification of the
                            materials,
                            use of the materials on any other website or networked computer environment, or use of the
                            materials for any purpose other than personal, non-commercial use is a violation of the
                            copyrights, trademarks, and other proprietary rights, and is prohibited. Any use for which
                            you
                            receive any remuneration, whether in money or otherwise, is a commercial use for the
                            purposes of
                            this clause.
                        </p>
                    </div>


                    <b class="mt-1" style="font-size:20px;">Returns</b>
                    <hr style="display: block;border-width: 1px;border-color: black;">
                    <p style="font-size: 14px;">
                        We encourage customers to take care with the specifications and take care to understand the
                        terms
                        and conditions
                        of their order. By making a purchase order or by signing of the job sheet and invoice you agreed
                        to
                        pay for the goods listed and understand that there are limited situations for refund replacement
                        or
                        compensation can be claimed for
                        the goods once the order has been placed.
                    </p>
                </div>
                <div class="liability ml-1 mt-4" style="text-transform: uppercase;">
                    <b style="font-size:20px;">Liability</b>
                    <hr style="display: block;border-width: 1px;border-color: black;">
                    <p style="font-size: 14px;">Greenkys and its founders, directors, and employees are not
                        responsible
                        for any of these tasks. If any of these functions are being used, then only that user will be
                        responsible for that work. Greenkys does not support any of these
                        functions in any way.<br><br> A). Harming other users by using the website Including without
                        limitations and any kind of harm such as personal injury, death, fraudulent misrepresentation,
                        defective items or other product, service or
                        delivery problems. Fault, omission, interruption, deletion of files or emails, errors, defects,
                        viruses, delay in operation or any type of failure performance whether or not resulting from
                        acts of
                        god, communication failure, theft
                        destruction, and any types of unauthorized access to Greenkys records programs or services.
                        And
                        users are fully responsible for any other type of tasks.<br><br> B). Greenkys is not
                        responsible
                        in any way for all these types
                        of works. This will be liable to the user for any incidental, special, putative, indirect,
                        consequential or exemplary damages including without limitations, damage for loss of goodwill,
                        loss
                        profits, theft or corruption of user information
                        or the inability to use the sites or any of their features.<br><br> C). Greenkys will not be
                        liable for how you use the website, the content posted on it, theft of user information, damages
                        or
                        the inability to use the website.
                        In case something like this happens, your sole remedy is to stop using the website. if something
                        goes wrong, Greenkys is not responsible for it.
                    </p>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block extra_scripts %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
{% endblock %}